/* 섹션 헤더 */
.kes--testimonials-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 960px;
}
.kes--header-title {
    color: #37517e;
    font-size: 32px;
    font-weight: 700;
    position: relative;
    margin: 0;
}
.kes--header-divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.kes--header-divider > div:nth-child(1) {
    width: 160px;
    height: 1px;
    background-color: #44444466;
}
.kes--header-divider > div:nth-child(2) {
    width: 60px;
    height: 3px;
    background-color: #47b2e4;
    position: relative;
    top: -2px;
}
.kes--header-description {
    color: #444444;
    line-height: 24px;
    margin: 0;
}

/* 섹션8 body */
/* Section 8 */
#kes8 {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-block: 60px;
    align-items: center;
}

.kes--testimonials-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.kes--testimonials-humaninfo-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1140px;
    height: 318.3px;
    padding-inline: 12px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}
@keyframes kes__slide {
    0% { transform: translateX(0%);}
    18% { transform: translateX(0%); }
    20% { transform: translateX(-120%); }
    60% { transform: scale(0); }
    80% { transform: translateX(120%);}
    98% { transform: translateX(120%);}
}
@keyframes kes__slide2 {
    18% { transform: translateX(120%); }
    20% { transform: translateX(0%); }
    38% { transform: translateX(0%); }
    40% { transform: translateX(-120%);}
    41% { transform: scale(0);}
}

.kes--testimonials-body-humaninfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 1116.010px;
}
.kes--testimonials-body-humaninfo:nth-child(1) {
    animation: kes__slide 25s infinite;
    animation-delay: 0s;
}
.kes--testimonials-body-humaninfo:nth-child(2) {
    transform: translateX(120%);
    animation: kes__slide2 25s infinite;
}
.kes--testimonials-body-humaninfo:nth-child(3) {
    transform: translateX(120%);
    animation: kes__slide2 25s infinite;
    animation-delay: 5s;
}
.kes--testimonials-body-humaninfo:nth-child(4) {
    transform: translateX(120%);
    animation: kes__slide2 25s infinite;
    animation-delay: 10s;
}
.kes--testimonials-body-humaninfo:nth-child(5) {
    transform: translateX(120%);
    animation: kes__slide2 25s infinite;
    animation-delay: 15s;
}

.kes--testimonials-body-humaninfo-image {
    height: 112px;
    width: 112px;
    border-radius: 50%;
    overflow: hidden;
}
.kes--testimonials-body-humaninfo-image > img {
    height: 100%;
    width: auto;
}
.kes--testimonials-body-humaninfo-name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #37517e;
    line-height: 24px;
    width: 100%;
    text-align: center;
}
.kes--testimonials-body-humaninfo-job {
    margin: 0;
    font-size: 14px;
    color: color-mix(in srgb, #444444, transparent 40%);
    width: 100%;
    text-align: center;
}
.kes--testimonials-body-humaninfo-stars {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin-block: 15px;
    width: 100%;
}
.kes--testimonials-body-humaninfo-stars > .kes--star-icon {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kes--testimonials-body-humaninfo-stars > .kes--star-icon > svg {
    fill: #ffc107;
}

.kes--testimonials-body-humaninfo-description {
    position: relative;
    color: #444444;
    font-size: 16px;
    width: 850px;
    text-align: center;
    font-style: italic;
    width: 100%;
}
.kes--testimonials-body-humaninfo-description::before {
    content: url(./svgs/quote_left.svg);
    position: relative;
}
.kes--testimonials-body-humaninfo-description::after {
    content: url(./svgs/quote_right.svg);
    position: relative;
    top: 15px;
}

.kes--testimonials-body-buttons {
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.kes--testimonials-body-buttons > button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: color-mix(in srgb, #444444, transparent 85%);
    margin-inline: 4px;
}
@keyframes kes__slide_button {
    0%, 20% { background-color: #47b2e4; } /* 강조 시간 */
    20.1%, 100% { background-color: color-mix(in srgb, #444444, transparent 85%); } /* 기본 색상 */
}
.kes--testimonials-body-buttons > button {
    animation: kes__slide_button 25s infinite;
}
.kes--testimonials-body-buttons > button:nth-child(1) {
    animation-delay: -0.5s;
}
.kes--testimonials-body-buttons > button:nth-child(2) {
    animation-delay: 4.5s;
}
.kes--testimonials-body-buttons > button:nth-child(3) {
    animation-delay: 9.5s;
}
.kes--testimonials-body-buttons > button:nth-child(4) {
    animation-delay: 14.5s;
}
.kes--testimonials-body-buttons > button:nth-child(5) {
    animation-delay: 19.5s;
}
.kes--testimonials-body-buttons > button:hover {
    cursor: pointer;
}



/* Section 9 */
#kes9 {
    display: flex;
    flex-direction: column;
    background-color: #f5f6f8;
    /*padding-block: 60px;*/
    align-items: center;
}
.kes--questions-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.kes--questions-cards-container {
    width: 950px;
    padding-inline: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.kes--question-card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kes--questions-body-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    gap: 10px;
    overflow: hidden;
    max-height: 65px;
    transition: 0.3s ease-in-out;
}
.kes--questions-body-card-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.kes-sns-logo-container a{
    background:transparent;
}

.kes--questions-body-card-header > svg:nth-child(1) {
    width: 20px;
    height: 20px;
    fill: #47b2e4;
}
.kes--questions-body-card-header > label:nth-child(2) {
    flex: 1;
}
.kes--questions-body-card-header > label:nth-child(2) > h3 {
    margin: 0;
    margin-inline: 10px;
    flex: 1;
    vertical-align: middle;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #37517e;
    transition: 0.3s;
}
.kes--questions-body-card-header > label:nth-child(2) > h3:hover {
    cursor: pointer;
    color: #47b2e4;
    transition: 0.3s;
}
.kes--questions-body-card-header > label:nth-child(3) > svg {
    width: 16px;
    height: 16px;
    /*fill: #444444;*/
    cursor: pointer;
    transition: 0.3s;
}
.kes--questions-body-card-header > label:nth-child(3) > svg:hover {
    cursor: pointer;
    fill: #47b2e4;
    transition: 0.3s;
}
.kes--questions-body-card-description {
    opacity: 0;
    visibility: hidden;
    text-align: left;
    margin: 0;
    color: #444444;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    transition: 0.3s ease-in-out;
}
/* 토글 관련 */
.kes--toggle-card-checkbox:checked ~ .kes--questions-body-card > .kes--questions-body-card-header > label:nth-child(2) > h3 {
    color: #47b2e4;
}
.kes--toggle-card-checkbox:checked ~ .kes--questions-body-card > .kes--questions-body-card-header > label:nth-child(3) > svg {
    fill: #47b2e4;
    transform: rotate(90deg);
}
.kes--toggle-card-checkbox:checked ~ .kes--questions-body-card > .kes--questions-body-card-description {
    opacity: 1;
    visibility: visible;
}
.kes--toggle-card-checkbox:checked ~ .kes--questions-body-card {
    max-height: 250px;
}